.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 40px;
}

/* Style Canvas */
canvas {
  border: thin solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #005fcc;
}
